name: Deploy to Firebase
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'
      
      - name: Install Firebase CLI
        run: npm install -g firebase-tools
      
      - name: Install Functions Dependencies
        run: |
          cd functions
          npm install
      
      - name: Deploy to Firebase
        run: firebase deploy --project tryui-105ff
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
