name: Deploy Firebase Functions
on:
  push:
    branches:
      - main
    paths:
      - 'functions/**'  # يdeploy غير ملي تبدل functions

jobs:
  deploy_functions:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'
      
      - name: Install Firebase CLI
        run: npm install -g firebase-tools
      
      - name: Install Functions Dependencies
        run: |
          cd functions
          npm ci
      
      - name: Deploy Functions
        run: firebase deploy --only functions --project tryui-105ff
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
